.about-banner {
  margin: 44px 0 31px 0;
}

.about-collapse {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  gap: 31px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .about-banner {
    margin: 20px 0 22px 0;
  }
}
