.about-banner{
    margin: 44px 0 31px 0;
}

.about-collapse{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 31px;
}


@media (max-width:768px) {
    .about-banner {
        margin: 20px 0 22px 0;
      }
    
}