@import '../../style/variables.scss';

.slideshow-hidden {
  display: none;
}

.collapse-description {
  box-sizing: border-box;
  width: 100%;
}

.housing-collapse-container {
  display: flex;
  gap: 88px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  & .collapse-container {
    width: 50%;
  }
}

.housing-information-container {
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.housing-details-left-part {
  width: 50%;
  height: fit-content;

  & h2 {
    margin: 0;
  }
}

.housing-details-right-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.housing-title {
  font-weight: 500;
  font-size: 36px;
  color: $primary-color;
}

.housing-location {
  font-weight: 500;
  font-size: 18px;
  color: $primary-color;
}

.housing-tags {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  box-sizing: border-box;
  width: fit-content;
  padding: 0px 10px;
  height: 25px;
  background-color: $primary-color;
  color: $secondary-color;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.owner-full-name {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.owner-name {
  color: $primary-color;
  font-weight: 500;
  font-size: 18px;
  width: fit-content;
}

.owner-picture {
  border-radius: 100%;
  width: 64px;
  height: 64px;
}






/* MEDIA QUERIES */

@media (max-width: 768px) {
.housing-location{
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

.housing-collapse-container {
  gap: 20px;
  flex-direction: column;


  & .collapse-container {
    width:100%;
  }
}

  .housing-details-left-part {
    width: 100%;
    height: fit-content;
  }

  .housing-title {
    font-size: 18px;
  }

  .housing-information-container {
    flex-direction: column;
  }

  .housing-details-right-part {
    flex-direction: row-reverse;
    height: fit-content;
    margin-top: 18px;

  }

  .owner-name {
    font-size: 12px;
  }

  .owner-picture {
    width: 32px;
    height: 32px;
  }

  .housing-information-container {
    margin-bottom: 16px;
  }
}
