.slideshow-hidden {
  display: none;
}

.collapse-description {
  box-sizing: border-box;
  width: 100%;
}

.housing-collapse-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  & .collapse-container {
    width: 50%;
  }
}

.housing-information-container {
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.housing-details-left-part {
  width: 50%;
}

.housing-title {
  font-weight: 500;
  font-size: 36px;
  color: #ff6060;
}

.housing-location {
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
}

.housing-tags {
  display: flex;
  gap: 10px;
}

.tag {
  box-sizing: border-box;
  width: fit-content;
  padding: 3px;
  height: 25px;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.owner-name {
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
}
.owner-picture {
  border-radius: 100%;
  width: 64px;
  height: 64px;
}


