@import '../../style/variables.scss';

.card-container {
  position: relative;
  height: 340px;
  width: 340px;

  &:hover {
    cursor: pointer;
  }
}

.card-image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card-title-container {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  background-color: $card-title-background;
  border-radius: 0 0 10px 10px;
}

.card-title {
  color: $secondary-color;
  width: 70%;
  margin: 10px 15px;
  font-size: 18px;
}

/* MEDIA QUERIES */

@media (max-width: 1440px) {
  .card-container {
    flex-grow: 1;
  }
}

@media (max-width: 768px) {
  .card-container {
    height: 255px;
  }
}
