.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__logo {
    height: 68px;
    width: 210px;
  }
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 57px;
  padding: 0;

  &__element {
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #ff6060;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.is-active {
  text-decoration: underline;
}

@media (max-width: 768px) {

.header__logo{
  height: 47px;
  width: 145px;
}

  .navigation-list {
    gap: 15px;

    &__element {
      font-size: 12px;
      line-height: 17px;
    }
  }
}
