@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.not-found-information {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px 100px;
  color: $primary-color;
  height: 100%;
  gap: 120px;

  & div {
    @include flex-center;
    flex-direction: column;
  }

  &__title {
    font-size: clamp(96px, 18vw, 288px);
    font-weight: 700;
    margin: 0;
  }

  &__text {
    text-align: center;
    font-size: clamp(18px, 3vw, 36px);
  }

  &__link {
    font-size: clamp(14px, 2vw, 18px);
    text-decoration: underline;
    cursor: pointer;
  }
}
